body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37, 198, 198);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}
