.todo-ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-top: 3px solid #028575;
  li {
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 10px 0;
    display: flex;
    width: 100%;
    .flex {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        display: inline-block;
        width: 80%;
      }
      .button-con {
        display: flex;
        align-self: center;
        button {
          border: none;
          outline: none;
          cursor: pointer;
          background: none;
          &:active {
            transform: scale(0.96) translateY(-2px);
          }
          .i-edit {
            color: #028575;
            font-size: 18px;
            margin: 0 10px;
            padding: 0;
          }
          .i-trash {
            margin: 0;
            padding: 0;
            color: red;
          }
        }
      }
    }
    .first {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        box-shadow: -5px 14px 20px 3px rgba(32, 31, 31, 0.071);
        background-color: aliceblue;
        padding: 0.4rem 0.4rem;
        color: #388e84;
        font-size: 18px;
        outline: none;
        border: none;
        width: 70%;
        &::placeholder {
          color: #2d867b;
        }
      }
      .button-con {
        align-self: center;
        display: flex;
        button {
          border: none;
          outline: none;
          font-size: 20px;
          cursor: pointer;
          background: none;
          &:active {
            transform: scale(0.96) translateY(-2px);
          }
          .i-save {
            color: #028575;
            margin: 0 10px;
            padding: 0;
          }
          .i-cancel {
            color: red;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
